<div class="nav-container">
  <div class="logo">
    <a href="index.html"
      ><img src="assets/images/logo.png" alt="Site Logo" />Prof. Account</a
    >
  </div>
  <nav class="navbar">
    <ul>
      <li class="navlink">
        <a class="active" href="index.html"
          >Home <span class="underline"></span
        ></a>
      </li>
      <li class="navlink">
        <a href="about.html">About <span class="underline"></span></a>
      </li>
      <li class="navlink">
        <a href="courses.html">Courses <span class="underline"></span></a>
      </li>
      <li class="navlink">
        <a href="blog.html">Blog <span class="underline"></span></a>
      </li>
      <li class="navlink">
        <a href="contact.html">Contact <span class="underline"></span></a>
      </li>
    </ul>
  </nav>
</div>
