* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px 30px;
  background: rgba(250, 250, 250, 0.95);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.nav-container .logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
  font-size: 1.75rem;
  font-weight: 700;
  color: rgb(7, 74, 158);
}

.nav-container .logo img {
  height: 50px;
  width: auto;
}

.nav-container .navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nav-container .navbar .navlink {
  list-style: none;
  padding: 0 20px;
}

.nav-container .navlink a {
  text-decoration: none;
  font-weight: 500;
  color: black;
  position: relative;
  color: rgb(44, 44, 44);
}

.navlink a.active {
  color: rgb(7, 74, 158);
}

.navlink a.active .underline {
  color: rgb(7, 74, 158);
  width: 140%;
  position: absolute;
  left: 50%;
  top: 150%;
  height: 0.1rem;
  background-color: rgb(7, 74, 158);
  transform: translateX(-50%);
}

.nav-container .navlink a:hover {
  text-decoration: none;
  font-weight: 500;
  color: blue;
}

.content {
  padding-top: 78px;
}

.col-2-grid-container {
  margin: 0 74px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 3rem;
}

.bg-hero {
  background: linear-gradient(
    135deg,
    rgb(5, 74, 158),
    rgb(7, 104, 223),
    rgb(54, 132, 226)
  );
}

.hero-container,
.about {
  padding: 8rem 0;
}

.hero-content {
  align-content: center;
  color: white;
}

.hero-text {
  color: white;
}

.hero-title {
  font-weight: 700;
  font-size: 55px;
}

.hero-intro {
  padding: 24px 0 32px 0;
  font-size: 20px;
}

.hero-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.btn {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  text-transform: capitalize;
  text-decoration: none;
}

.btn-bg-white {
  background-color: white;
  color: rgb(5, 74, 158);
  transition: background-color 0.3s ease;
}

.btn-bg-white:hover {
  background-color: rgb(240, 240, 240);
}

.btn-bg-dark {
  background: linear-gradient(135deg, #0761d0 0%, #0765d8 100%);
  color: white;
  border: 1px solid white;
  transition: all 0.3s ease;
}

.btn-bg-dark:hover {
  background: white;
  color: rgb(5, 74, 158);
}

.hero-img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.bg-light {
  background-color: rgb(248, 248, 249);
}

.benefits,
.philosophy,
.about,
.subjects,
.cta,
.git,
.accounting,
.finance {
  padding: 80px 0;
}

.benefits-content-wrapper {
  padding: 0 32px;
}

.benefits-content {
  text-align: center;
  margin-bottom: 64px;
}

.section-title {
  color: rgb(44, 44, 44);
  font-size: 2rem;
  margin-bottom: 16px;
}

.section-title-white {
  color: white;
  font-size: 2rem;
  margin-bottom: 16px;
}

.section-description {
  font-size: 1.5rem;
  max-width: 48rem;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.6);
  line-height: 2rem;
}

.section-description-white {
  font-size: 1.5rem;
  max-width: 48rem;
  margin: 0 auto;
  line-height: 2rem;
  color: white;
  margin: 0 0 32px 0;
}

.benefits-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.benefit-card .icon-container {
  height: 64px;
  width: 64px;
  background-color: rgba(5, 74, 158, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto 16px;
  text-align: center;
  line-height: 64px;
}

.benefit-card {
  text-align: center;
}

.benefit-card .icon,
.about-stat .icon,
.course-content .course-title-icon {
  height: 32px;
  width: auto;
}

.benefit-card .card-title {
  color: rgb(82, 82, 82);
}

.benefit-card h3 {
  margin-bottom: 8px;
}

.benefit-card p {
  line-height: 1.6rem;
  color: rgb(80, 80, 80);
}

.subject-content-wrapper {
  padding: 0 32px;
}

.subject-content {
  text-align: center;
  margin-bottom: 64px;
}

.subject-content .course-title {
  color: rgb(44, 44, 44);
  font-size: 2rem;
  margin-bottom: 16px;
}

.course-card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.course-card {
  padding: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s ease;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

.course-card:hover {
  transform: scale(103%);
}

.course-card .icon-wrapper {
  height: 50px;
  width: 50px;
  background-color: rgba(5, 74, 158, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  line-height: 64px;
}

.card-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  margin-bottom: 16px;
}

.course-icon {
  height: 32px;
  width: auto;
  vertical-align: middle;
}

.subjects .card-description {
  padding-bottom: 16px;
}

.level-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 2rem;
}

.level-wrapper .difficulty {
  color: rgb(5, 74, 158);
}

.btn-courses {
  background-color: rgb(5, 74, 158);
  color: white;
  padding: 1rem 1.5rem;
  margin-top: 3rem;
  display: block;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-weight: 600;
  transition: transform 0.3s ease;
}

.btn-courses:hover {
  transform: translateY(3px);
}

.cta {
  background-color: #054a9e;
}

.cta-btn-wrapper a {
  text-decoration: none;
}

.cta-content-wrapper {
  padding: 0 32px;
  max-width: 56rem;
  text-align: center;
  margin: 0 auto;
}

.cta-btn-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.site-footer {
  padding: 32px;
  text-align: center;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.7);
}

.about {
  padding: 5rem 0;
}

.about-stat {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: flex-start;
}

.about-stat .icon-container {
  height: 40px;
  width: 40px;
  background-color: rgba(5, 74, 158, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.about-stat .stat-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.about-text {
  font-size: 20px;
  margin: 0 0 32px 0;
  color: #61768f;
  line-height: 2rem;
}

.about-img {
  max-width: 80%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.about-content {
  align-content: center;
}

.text-light {
  color: rgba(0, 0, 0, 0.5);
}

.experience-content,
.student-content {
  line-height: 1.5rem;
}

.philosophy-content,
.git-content {
  padding: 0 32px;
  margin: 0 auto;
  max-width: 56rem;
}

.philosophy-text {
  color: rgba(0, 0, 0, 0.9);
  line-height: 1.5rem;
}

.philosophy-text p {
  margin-bottom: 24px;
}

.philosophy-content .section-title,
.git-content .section-title {
  text-align: center;
  margin-bottom: 32px;
}

.philosophy-card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 3rem;
  gap: 2rem;
}

.philosophy-card-wrapper .philosophy-card-icon {
  height: 48px;
  width: auto;
  margin-bottom: 10px;
}

.philosophy-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 24px;
  border-radius: 8px;
  line-height: 1.5rem;
}

.philosophy-card p {
  text-align: center;
  padding-top: 10px;
  color: rgba(0, 0, 0, 0.6);
}

.philosophy-card .philosophy-card-title {
  font-weight: 600;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
}

.git-content .git-text {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 0 32px 0;
  text-align: center;
}

.contact-card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px;
  max-width: fit-content;
  justify-self: center;
}

.contact-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;
  max-width: fit-content;
  padding: 16px 32px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.contact-card-wrapper .contact-icon {
  height: 32px;
  width: auto;
}

.contact-card .contact-detail {
  text-align: center;
  line-height: 1.4rem;
}

.contact-detail .contact-type {
  font-size: 16px;
  color: #1a232d;
  font-weight: 600;
}

.contact-detail .contact-address {
  font-size: 16px;
  color: rgb(97, 118, 143);
}

hr {
  border: 1px solid rgba(97, 118, 143, 0.2);
}

footer {
  background-color: rgb(249, 249, 250);
}

.courses-content {
  padding: 80px 0;
  text-align: center;
}

.courses-content .section-title-white {
  font-weight: 700;
  font-size: 3rem;
}

.courses-content .courses-description {
  font-size: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.902);
  max-width: 48rem;
  margin: 0 auto;
  line-height: 2rem;
}

.course-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 0 16px 0;
}

.course-section-title {
  font-size: 2rem;
}

.course-section-description {
  font-size: 20px;
  color: rgb(97, 118, 143);
  line-height: 1.75rem;
  text-align: center;
}

.course-header {
  margin-bottom: 4rem;
}

.course-card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.card-header-text {
  background-color: rgba(5, 74, 158, 0.1);
  padding: 4px 12px;
  border-radius: 20px;
}

.course-card-header .course-icon-wrapper {
  width: 55px;
  height: 55px;
  background-color: rgba(5, 74, 158, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.course-card-wrapper-col-3 .course-card-title {
  padding: 16px 0 12px 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.course-card-wrapper-col-3 .course-card-description {
  padding: 16px 0 12px 0;
  font-size: 1.25rem;
  line-height: 1.625;
  margin-bottom: 1rem;
  color: rgb(97, 118, 143);
}

.course-card-stat-wrapper {
  display: flex;
  justify-content: space-between;
}

.card-stat-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.course-card-stat-wrapper .course-stat-icon {
  height: 16px;
  width: auto;
}

.course-stat {
  color: rgb(97, 118, 143);
  font-size: 14px;
}

.course-card-wrapper-col-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}

.course-card-wrapper-col-3 .course-card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.course-card-wrapper-col-3 .btn-courses {
  margin-top: auto;
  align-self: center;
  margin-top: 2rem;
}

.finance .course-card-wrapper-col-3 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  max-width: 67%;
  margin: 0 auto;
}
